<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GREEN PATH</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>
<body>
    <header class="header header-fixed-top">
        <div class="header_container container">
            <h1 class="header_logo"><span>GREEN</span> PATH</h1>
            <button class="header_toggle"></button>
            <nav class="nav">
                <a href="#" class="nav_link">HOME</a>
                <a href="#" class="nav_link">ABOUT US</a>
                <a href="#" class="nav_link">CONTACT</a>
            </nav>
        </div>
    </header>
    <main id="main">
        <article class="content">
            <section class="section" data-background-letter="P">
                <div class="container">
                    <div class="section_content">
                        <h2 class="section_title">Protect the green</h2>
                        <h3 class="section_subtitle">Stay in green</h3>
                        <div class="divider"></div>
                        <p class="section_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, asperiores? Vel soluta nesciunt in dolorum consectetur, maiores voluptatum? Soluta provident unde explicabo quod iusto animi! Blanditiis sequi at repudiandae ullam.</p>
                        <a href="#" class="button">Read more</a>
                    </div>
                    <figure class="section_figure">
                        <img src="assets/images/figure.jpg" alt="Plant" class="section_image">
                        <figcaption>Amazing description for the image</figcaption>
                    </figure>
                </div>
            </section>
        </article>
    </main>
    <script src="assets/js/script.js"></script>
</body>
</html>