/* Settings */
:root {
  --family-heading: Montserrat, Helvetica, Arial, sans-serif;
  --family-monospace: "Fira Code", consolas, monospace;
  --family: Prompt, Helvetica, Arial, sans-serif;
  --primary: hsl(220, 83%, 60%);
  --primary-dark: hsl(220, 93%, 50%);
  --vertical-rhythm: 1em;
}

/* Generic */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: var(--family, Prompt, Helvetica, Arial, sans-serif);
  font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading, Montserrat, Helvetica, Arial, sans-serif);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 700;
}

/* Base */
a {
  color: var(--primary, hsl(220, 83%, 60%));
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
  text-decoration: underline;
}

/* Objects */
.container {
  display: block;
  width: 100%;
  max-width: calc(50rem - 2em);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > *,
.stack.recursive * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *,
.stack.recursive * + * {
  margin-top: var(--vertical-rhythm, 1em);
}

.unstiled-list {
  list-style: none;
}

.title {
  font-size: 3em;
}

.title.-sm {
  font-size: 1.75em;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 4em;
  }
}

/* Trumps */

.highlight-primary {
  position: relative;
}

.highlight-primary::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60%;
  width: 125%;
  height: 75%;
  transform: translate3d(0, -50%, 0);
  background: var(--primary);
  opacity: 0.9;
  z-index: -1;
}

.has-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.is-rounded {
  border-radius: 6px !important;
}

.has-center-align {
  text-align: center !important;
}

@media screen and (max-width: 567.999px) {
  .min-sm-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .has-md-left-align {
    text-align: left !important;
  }
}
