/* Settings */
:root {
  --family-heading: Montserrat, Helvetica, Arial, sans-serif;
  --family-monospace: "Fira Code", consolas, monospace;
  --family: Prompt, Helvetica, Arial, sans-serif;

  --primary: hsl(220, 83%, 60%);
  --primary-dark: hsl(220, 93%, 50%);
  --ui-color: #000;
  --ui-color-inverted: #fff;
  --ui-background: hsl(220, 10%, 98%);

  --vertical-rhythm: 1em;
}

/* Generic */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: var(--family, Prompt, Helvetica, Arial, sans-serif);
  font-size: 110%;
}

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  background: var(--ui-background, hsl(220, 10%, 98%));
  color: var(--ui-color, #000);
}

#layout > div {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading, Montserrat, Helvetica, Arial, sans-serif);
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 700;
}

/* Base */
a {
  color: var(--primary, hsl(220, 83%, 60%));
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
  text-decoration: underline;
}

/* Objects */
.container {
  display: block;
  width: 100%;
  max-width: calc(50rem - 2em);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > *,
.stack.recursive * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *,
.stack.recursive * + * {
  margin-top: var(--vertical-rhythm, 1em);
}

.unstiled-list {
  list-style: none;
}

.title {
  font-size: 3em;
}

.title.-sm {
  font-size: 1.75em;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 4em;
  }
}

.button {
  border: none;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--family);
  padding: 1em 1.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.button.-fab {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.button.-primary {
  background: var(--primary);
  box-shadow: 0 2px 4px hsla(220, 83%, 60%, 0.8);
  color: #fff;
}

.button.-primary:hover {
  box-shadow: 0 5px 10px hsla(220, 83%, 60%, 0.5);
}

.button.-primary:active {
  box-shadow: 0 7px 14px hsla(220, 83%, 40%, 0.3);
}

/* Theme */
.dark-theme {
  --ui-color: #fff;
  --ui-color-inverted: hsl(220, 90%, 2%);
  --ui-background: hsl(220, 30%, 8%);
}

/* Trumps */

.highlight-primary {
  position: relative;
}

.highlight-primary::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60%;
  width: 125%;
  height: 75%;
  transform: translate3d(0, -50%, 0);
  background: var(--primary);
  opacity: 0.9;
  z-index: -1;
}

.has-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.3) !important;
}

.is-rounded {
  border-radius: 6px !important;
}

.has-center-align {
  text-align: center !important;
}

.fade {
  opacity: 0;
  animation: fade 0.5s ease forwards;
}

@keyframes fade {
  to {
    opacity: initial;
  }
}

@media screen and (max-width: 567.999px) {
  .min-sm-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .has-md-left-align {
    text-align: left !important;
  }
}
