.header-bar {
  background: var(--ui-color-inverted, #fff);
  display: flex;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header-bar.is-floating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-bar.is-floating + * {
  margin-top: 70px;
}

.header-bar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-bar > .container > .brand {
  display: inline-flex;
  align-items: center;
}

.header-bar > .container > .brand:hover {
  text-decoration: none;
  color: var(--primary, hsl(220, 83%, 60%));
}
