// Length Units
.w-25 {
    width: 25%;
}

.has-w-50 {
    width: 50%;
}

.has-w-75 {
    width: 75%;
}

.has-w-100 {
    width: 100%;
}

@each $breakpoint, $breakpointValue in $breakpoints {
    @include min-width($breakpointValue) {
        .has-w-25--#{$breakpoint} {
            width: 25%;
        }
        
        .has-w-50--#{$breakpoint} {
            width: 50%;
        }
        
        .has-w-75--#{$breakpoint} {
            width: 75%;
        }
        
        .has-w-100--#{$breakpoint} {
            width: 100%;
        }
    }  
}

.h-100 {
    height: 100%;
}

// Spacings

.mb-gap {
    margin-bottom: $gap;
}

.ml-gap {
    margin-left: $gap;
}

.mr-gap {
    margin-right: $gap;
}

.mt-gap {
    margin-top: $gap;
}

.my-gap {
    margin-top: $gap;
    margin-bottom: $gap;
}

.mx-gap {
    margin-right: $gap;
    margin-left: $gap;
}

.m-gap {
    margin: $gap;
}

.pb-gap {
    padding-bottom: $gap;
}

.pl-gap {
    padding-left: $gap;
}

.pr-gap {
    padding-right: $gap;
}

.pt-gap {
    padding-top: $gap;
}

.py-gap {
    padding-top: $gap;
    padding-bottom: $gap;
}

.px-gap {
    padding-right: $gap;
    padding-left: $gap;
}

.p-gap {
    padding: $gap;
}

.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.mr-0 { margin-right: 0 !important; }
.ml-0 { margin-left: 0 !important; }

.p-0 { padding: 0 !important; }
.pt-0 { padding-top: 0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pr-0 { padding-right: 0 !important; }
.pl-0 { padding-left: 0 !important; }

.m-auto { margin: auto !important; }
.mt-auto { margin-top: auto !important; }
.mb-auto { margin-bottom: auto !important; }
.mr-auto { margin-right: auto !important; }
.ml-auto { margin-left: auto !important; }

$i: 1;
@each $space in $spaces {
    .mb-#{$i} {
        margin-bottom: $space !important;
    }

    .ml-#{$i} {
        margin-left: $space !important;
    }

    .mr-#{$i} {
        margin-right: $space !important;
    }

    .mt-#{$i} {
        margin-top: $space !important;
    }

    .my-#{$i} {
        margin-top: $space !important;
        margin-bottom: $space !important;
    }

    .mx-#{$i} {
        margin-right: $space !important;
        margin-left: $space !important;
    }

    .m-#{$i} {
        margin: $space !important;
    }

    .pb-#{$i} {
        padding-bottom: $space !important;
    }

    .pl-#{$i} {
        padding-left: $space !important;
    }

    .pr-#{$i} {
        padding-right: $space !important;
    }

    .pt-#{$i} {
        padding-top: $space !important;
    }

    .py-#{$i} {
        padding-top: $space !important;
        padding-bottom: $space !important;
    }

    .px-#{$i} {
        padding-right: $space !important;
        padding-left: $space !important;
    }

    .p-#{$i} {
        padding: $space !important;
    }

    $i: $i + 1;
}
$i: 0;

// Position and aligment
.has-all-childs-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// Colors
.has-gradient-primary { background-image: $primary-gradient-1; }
.has-gradient-secondary { background-image: $secondary-gradient-1; }

@each $colorName, $color in $colors {
    .has-background-#{$colorName} {
        background-color: $color;
    }
    
    .has-#{$colorName}-text { 
        color: $color;
    }
}

// Typography
.is-upper {
    text-transform: uppercase;
}

.is-slim {
    font-weight: 300;
}

.is-normal {
    font-weight: 400;
}

.is-bold {
    font-weight: 700;
}

.has-align-left { text-align: left; }
.has-align-center { text-align: center; }
.has-align-right { text-align: right; }

// Shadows
.has-shadow-lg {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}