// Colors

$primary-color: #1f99ea;
$primary-light-1: #09cad7;
$primary-light-2: #9146d8;
$primary-dark-1: #590ea0;
$primary-dark-2: #3f0576;
$primary-gradient-1: linear-gradient(180deg, #1f99ea 0%, #09cad7 80%);
$primary-gradient-2: linear-gradient(180deg, #09cad7 0%, #1f99ea 100%);

$secondary-color: #09cad7;
$secondary-light-1: #be8fe6;
$secondary-light-2: #caa8e6;
$secondary-dark-1: #a85ce6;
$secondary-dark-2: #9c40e7;
$secondary-gradient-1: linear-gradient(180deg, #A0258E 0%, #4A083F 100%);

$dark-color: #171517;
$dark-color-1: #211c21;
$dark-color-2: #2a222a;
$light-color: #f2f2f3;
$light-color-1: #e4e6e7;
$light-color-2: #dde2e3;

$danger-color: #e41818;
$danger-light-1: #e23636;
$danger-dark-1: #bd0a0a;
$success-color: #14b92a;
$success-dark-1: #0da522;
$success-light-1: #1dc934;
$info-color: #0298dd;
$info-dark-1: #0183c4;
$info-light-1: #1a9edb;

$colors: (
          "primary": $primary-color,

          "secondary": $secondary-color,

          "dark": $dark-color,

          "light": $light-color,

          "danger": $danger-color,

          "success": $success-color,

          "info": $info-color,

         );

// Fonts

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$base-font-size: 18px;

$font-size-1: 1em;
$font-size-2: 1.25em;
$font-size-3: 1.563em;
$font-size-4: 1.953em;
$font-size-5: 2.441em;
$font-size-5: 3.052em;

// Dimensions

$gap: 10px;
$breakpoint-xsm: 420px;
$breakpoint-sm: 620px;
$breakpoint-md: 830px;
$breakpoint-lg: 1024px;
$breakpoint-xlg: 1200px;
$breakpoints: ("xsm": 420px,"sm": 620px,"md": 830px,"lg": 1024px,"xlg": 1200px);
$containerSizes: (100%, 568px, 768px, 960px, 1140px);
$cols: 12;

// Spaces

$space-1: 5px;
$space-2: 10px;
$space-3: 20px;
$space-4: 30px;
$space-5: 45px;
$space-6: 60px;
$space-7: 84px;
$spaces: 5px, 10px, 20px, 30px, 45px, 60px, 84px;

// Radius

$radius-1: 4px;
$radius-2: 10px;

// Shadows

$shadow-1: 0 2px 5px rgba(0, 0, 0, 0.3);
$shadow-2: 0 2px 7px 3px rgba(0, 0, 0, 0.2);
$shadow-3: 0 2px 5px rgba(0, 0, 0, 0.2),
           0 3px 6px rgba(0, 0, 0, 0.2);
$shadow-4: 0 2px 5px rgba(0, 0, 0, 0.3),
           0 2px 15px rgba(0, 0, 0, 0.2);
$shadow-5: 0 5px 11px 0 rgba(0,0,0,0.18),
           0 4px 15px 0 rgba(0,0,0,0.15);
