.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: $space-2;
    padding-left: $space-2;

    $i: 1;
    @each $breakpoint, $breakpointValue in $breakpoints {
        @include min-width($breakpointValue) {
            max-width: nth($containerSizes, $i);
        }
        $i: $i +1;
    }
    $i: 0;
}
