.card {
    border-radius: $radius-1;
    box-shadow: $shadow-1;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    &__body,
    &__footer {
        color: $dark-color;
    }

    &__header {
        display: flex;
        flex-direction: column;

        &.has-icon {
            padding: $space-3;
            padding-bottom: $space-3/2;
        }

        & > .card__title {
            padding: $space-3 $space-3 0;
        }

        & > .card__image + .card__title {
            padding: 0;
            margin-top: $space-2;
            padding-left: $space-3;
            margin-bottom: $space-2/2;
        }

         & + .card__body {
            padding: $space-2/2 $space-3 $space-2*2;
        }

        &.has-image-background {
            position: relative;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to top, rgba(0, 0, 0, .5), transparent);
            }

            & > .card__title {
                position: absolute;
                bottom: $space-1;
                color: #fff;
            }

            & + .card__body {
                padding-top: $space-3;
            }
        }
    }

    &__body {
        padding: $space-3;
    }

    &__footer {
        border-top: 1px solid rgba(0, 0, 0, .12);
        padding: $space-3/2 $space-3 $space-3/2;

        &.is-right-aligned {
            text-align: right;
        }
    }

    &__image {
        max-width: 100%;
        object-fit: cover;
        border-radius: $radius-1 $radius-1 0 0;
        border: none;

        &.is-icon {
            display: block;
            margin: 0 auto;
        }

        &.is-expanded {
            border: none;
            transform: scale(1.1, 1.05) translateY(-2.5%);
            box-shadow: $shadow-5;
            border-radius: $radius-2 !important;
        }
    }

    &__title {
        @include title;
        color: $dark-color;
    }

    &__text {
        color: $dark-color;
    }

    &__link {
        color: $primary-color;
        word-break: break-all;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        padding: $space-2 $space-3;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &__list-item:first-child {
        border-top: 1px solid rgba(0, 0, 0, .12);
    }

    &__list-item:last-child {
        border-bottom: none;
        padding-bottom: $space-2;
    }   

    &.is-centered {
        text-align: center;
    }

    &.is-hoverable {
        transition: box-shadow 0.3s ease-in-out;
    }

    &.is-hoverable:hover {
        box-shadow: $shadow-2;
    }

    &.has-fit-to-content {
        display: inline-block;
    }

    &.is-sandwich {
        .card__header {
            flex-direction: column-reverse;
            padding-bottom: $space-3;
        }

        .card__header > .card__title {
            padding-bottom: $space-2;
        }

        .card__header > .card__image {
            border-radius: 0;
        }
    }

    &.is-stacked {
        .card__image {
            transform: scale(.9) translateY(-15%);
            border-radius: $radius-2;
            box-shadow: $shadow-5;
        }

        .card__title {
            margin-top: -30px;
        }
    }

    &.is-profile {
        .card__header.is-only-background {
            position: relative;
            min-height: 150px;
            border-radius: $radius-1 $radius-1 0 0;
            background-image: linear-gradient(35deg, $primary-color, $secondary-light-2);
        }

        .card__image {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 125px;
            height: 125px;
            object-fit: cover;
            border-radius: 50%;
            background: $light-color;
            border: 5px solid #fff;

            &.is-elevated {
                box-shadow: $shadow-5;
            }
        }

        .card__body {
            margin-top: 60px;
        }

        .card__title {
            margin-bottom: $space-1;
        }
    }

    &.is-featured {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3), 0 3px 15px 5px rgba(0, 0, 0, .12);
        @include min-width(getBreakpointValue("lg")) {
            transform: scale(1.2, 1.1);
        }
    }
}
