@mixin menu-bar {
    display: inline-block;
    width: 30px;
    height: 4px;
    background: #000;
    border-radius: 25px;
    border: none;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}
.header {
    background-color: #fff;
    box-shadow: $shadow-1;
    transition: all 0.3s ease-in-out;
    padding-top: $space-2;
    padding-bottom: $space-2;
    position: relative;

    &:not(.has-container) {
        padding: $space-3;
    }

    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    &:not(.has-container),
    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        font-size: $font-size-2;
        font-weight: 700;
        color: $dark-color;
        display: inline-block;
        vertical-align: middle;
        margin-right: $space-3;
        margin-left: $space-3;
        z-index: 2;

        img {
            vertical-align: middle;
        }
    }

    &__toggler {
        position: relative;
        margin-left: auto;
        margin-right: $space-3;
        z-index: 2;
        @include menu-bar;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            @include menu-bar;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 8px;
        }

        &.is-active {
            transform: rotate(-45deg);

            &::before,
            &::after {
                top: 0;
            }

            &::before {
                transform: rotate(90deg);
            }

            &::after {
                transform: rotate(0deg);
            }
        }

        // Breakpoint referente ao menu hamburguer
        @include min-width(getBreakpointValue("md")) {
            display: none;
        }
    }

    &__nav {
        flex: 5 0 0;
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100%;
        height: 100vh;
        padding-top: 70px;
        transition: all 0.3s ease-in-out;

        &:not(.has-no-overflow) {
            overflow-y: auto;

            .nav__menu,
            .nav__submenu {
                overflow-x: auto;
            }
        }

        &.is-active {
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            z-index: 1;
        }
        // Breakpoint referente ao menu hamburguer
        @include min-width(getBreakpointValue("md")) {
            position: static;
            width: 100%;
            height: auto;
            padding-top: 0;

            &.is-left {
                display: flex;
            }

            &.is-centered {
                display: flex;
                justify-content: center;
            }

            &.is-right {
                display: flex;
                justify-content: flex-end;
            }
        }

        @include max-width(getBreakpointValue("md")) {
            & .header__menu {
                display: block;
            }
        }

        &.has-secondary-menu {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            overflow-x: auto;

            .header__menu {
                overflow-x: initial;
            }

            .header__menu:first-child {
                margin-bottom: $space-3;
            }

            // Breakpoint referente ao menu hamburguer
            @include min-width(getBreakpointValue("md")) {
                flex-direction: row;

                .header__menu:first-child {
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    left: $space-3;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &__nav {
            flex: 2 0 0;
        }
    }

    @media screen and (max-width: $breakpoint-xsm) {
        &__logo {
            margin: 0 ($space-2 + ($space-2/2)) 0 0;
        }
    }

    &.is-disable {
        background: transparent;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        & .menu__item {
            border-bottom: 2px solid transparent;
        }

        & .menu__link:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    &.is-primary {
        background: $primary-gradient-1;
        background: linear-gradient(-65deg, #A0258E 10%, #EA1E7D 70%);
        color: $light-color;
    }

    .has-sidenav & {
        width: 100%;
        max-height: 64px;

        .header__logo {
            border-right: 2px solid rgba(0, 0, 0, 0.12);
            padding-right: $space-2;
        }

        .header__nav {
            position: static;
            width: 100%;
            height: auto;
            padding-top: 0;

            &.is-left {
                display: flex;
            }

            &.is-centered {
                display: flex;
                justify-content: center;
            }

            &.is-right {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    img {
        max-height: 45px;
    }
}
