.logo { 
    display: inline-flex;
    align-items: center;

    &__image {
        width: auto;
        margin-right: 5px;
    }

    &__text {
        display: none;
        @include min-width(getBreakpointValue("md")) {
            display: inline-block;
        }
    }
}