.schedule {
    display: block;
    list-style: none;
    text-align: left;

    @include min-width(getBreakpointValue("md")) {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        background: transparentize($color: $primary-color, $amount: .75);
        border: 1px solid transparent;
        padding: $space-3;
        border-radius: $radius-2;
        flex: 0 0 calc(25% - 20px);
        margin-top: $space-2;

        @include min-width(getBreakpointValue("md")) {
            margin-left: $space-2;
        }

        &:nth-child(even) {
            background: #fff;
            border: 2px solid rgba(0, 0, 0, 0.12);
        }
    }

    &__event {
        & + & {
            margin-top: $space-2;
            border-top: 2px solid rgba(0, 0, 0, 0.12);
        }
    }

    &__title {
        font-size: $font-size-4;
        font-weight: 700;
    }

    &__name {
        font-size: $font-size-2;
        font-weight: 500;
    }
}
