.sidenav {
    background: $secondary-color;
    background: #444;
    height: auto;
    position: absolute;
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, .4);
    top: 64px;
    left: -100vw;
    max-height: calc(100vh - 128px);
    overflow-y: auto;
    transition: all .3s ease-in-out;
    z-index: 999;

    &.is-active {
        left: 0;
    }

    @include min-width(getBreakpointValue("md")) {
        position: relative;
        left: 0;
        top: 0;
        box-shadow: none;
        margin-right: $space-4;
        max-height: calc(100vh - 128px);
    }

    &__menu {
        list-style: none;
    }

    &__item {
        display: block;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $light-color;
        padding: $space-3;
        vertical-align: middle;
        transition: all .3s ease-in-out;
    
        &--icon {
            max-height: 24px;
            margin-right: $space-2;
        }

        &:hover {
            background: rgba(255, 255, 255, .3);
        }
    }
}