.tabs {
    margin-bottom: $space-2;

    &__button {
        display: inline-flex;
        align-items: center;
        text-align: center;
        padding: $space-2 $space-3;
        border-radius: $radius-1 $radius-1 0 0;
        color: $primary-color;
        font-family: $font-family;
        font-size: $font-size-1;
        border: none;
        background: none;   
        text-decoration: none;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &.is-selected {
            border-bottom: 2px solid $primary-color;
        }

        &:hover {
            background: transparentize($color: $primary-color, $amount: .8);
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__tab {
        flex: 0 0 100%;
        transition: all .3s ease-in-out;
        order: 1;

        &:not(.is-selected) {
            position: relative;
            z-index: -2;
            pointer-events: none;
            opacity: 0;
            order: 2;
        }
    }
}