.table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.table__header {
    display: table-header-group;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.table__body {
    display: table-row-group;
}

.table__options {
    width: 100%;
    flex: 1;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding: $space-1 $space-3 0;
    background: $primary-color;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.table__title {
    padding: $space-2 $space-3;
    text-align: center;
    font-weight: 700;
    color: $dark-color;
}

.table__cell {
    padding: $space-2 $space-3;
    text-align: center;
}

.table__row {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.table__row:hover {
    background: #eee;
    border-color: #eee;
}

.table.is-stripped .table__row:nth-child(odd) {
    background: #fff;
}

.table.is-stripped .table__row:nth-child(even) {
    background-color: $light-color;
}

.table.is-stripped .table__row:hover:nth-child(odd) {
    background: #ddd;
}

.table.is-stripped .table__row:hover:nth-child(even) {
    background: $light-color-1;
}

.table-wrapper {
    &__table {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: auto;
    }
}