<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Waves</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
</head>
<body>
    <header class="header header-fixed-top">
        <div class="header_container container">
            <h1 class="header_logo">Waves</h1>
            <button class="header_toggle"></button>
            <nav class="nav">
                <a href="#" class="nav_link">HOME</a>
                <a href="#" class="nav_link">SOBRE NÓS</a>
                <a href="#" class="nav_link">CONTATO</a>
            </nav>
        </div>
    </header>
    <main id="main">
        <article class="content">
            <section class="banner">
                <h2 class="banner_title header_logo">Waves</h2>
                <h3 class="banner_subtitle">Converta e faça mais</h3>
            </section>
            
            <section class="section small wave-bottom" data-background-letter="U">
                <div class="container">
                    <div class="section_content">
                        <div class="divider"></div>
                        <h2 class="section_title">Um pouco da nossa história</h2>
                        <p class="section_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, asperiores? Vel soluta nesciunt in dolorum consectetur, maiores voluptatum? Soluta provident unde explicabo quod iusto animi! Blanditiis sequi at repudiandae ullam.</p>
                        <a href="#" class="button">Ler mais</a>
                    </div>
                </div>
                
                <img class="wave-image" src="assets/images/wave4.svg" alt="">
            </section>

            <section class="background-wave-bottom">
                <div class="divider white center"></div>
                <h2 class="title light">Por que o Waves?</h2>
                <h3 class="subtitle light">Algumas de nossas caracteristicas</h3>
                <div class="container">
                    <div class="card-deck">
                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Rápido</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>
                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Confiável</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>
                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Eficiente</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>

                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Disponivel</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>
                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Seguro</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>
                        <div class="card" style="transform: scale(0.001);">
                            <h3 class="card_title">Atualizado</h3>
                            <div class="divider"></div>
                            <p class="card_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatem?</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section reverse small" data-background-letter="Q">
                <div class="container">
                    <div class="section_content">
                        <div class="divider"></div>
                        <h2 class="section_title">Quer receber novos conteúdos incriveis?</h2>
                        <p class="section_text">Toda semana te enviaremos um e-mail com as melhores notícias sobre o assunto X mas não se preocupe sem <em>SPAM</em>. e é só nos contar o seu melhor e-mail.</p>
                        <div class="divider white"></div>
                    </div>
                    <form class="form card">
                        <h2 class="card_title">Receba nossas novidades</h2>
                        <span class="divider"></span>
                        <div class="form_group">
                            <input class="form_input" data-validate="email" name="email" id="email" required>
                            <label for="email" class="form_label">Seu melhor e-mail</label>
                        </div>

                        <button class="button card_button form_button">Cadastrar</button>
                    </form>
                </divi>
            </section>
        </article>
    </main>
    <footer class="footer">
        <div class="footer_socials">
            <img src="assets/images/icons/fb-icon.svg" alt="facebook" class="footer_social">
            <img src="assets/images/icons/ig-icon.svg" alt="instagram" class="footer_social">
            <img src="assets/images/icons/wpp-icon.svg" alt="whatsapp" class="footer_social">
        </div>
        <div class="footer_copy">
            <p>Alguns direitos reservados.</p>
        </div>
    </footer>
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>