<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neon_</title>
    <link rel="stylesheet" href="assets/css/neon.css" />
</head>
<body>
    <header class="header" data-sticky>
        <h1 class="logo"><a class="logo_link" href="index.html">Neon<span class="logo_effect">_</span></a></h1>
        <button class="nav-toggle">
            <div class="nav-toggle_bar"></div>
            <div class="nav-toggle_bar"></div>
        </button>
        <nav class="nav">
            <a href="#" class="nav_link">Home</a>
            <a href="#" class="nav_link">Sobre nós</a>
            <a href="#" class="nav_link">Contato</a>
        </nav>
    </header>
    <main>
        <article class="content">
            <header class="banner is-bottom" style="background-image: url(assets/images/banner.jpg)">
                <h3 class="banner_subtitle">Se insira no mercado</h3>
                <h2 class="banner_title" data-type="Let's code">Let's code</h2>
                <a href="#content" class="scroll-indicator">Rolar para baixo</a>
            </header>
            <section id="content" class="section is-centered">
                <div class="section_content">
                    <h2 class="section_title">Quem somos?</h2>
                    <hr class="divider" />
                    <p class="section_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam necessitatibus expedita nemo ab aut debitis, similique ducimus odio modi cumque corrupti culpa velit esse ad! Doloremque rerum necessitatibus distinctio saepe!</p>
                    <a href="#" class="button is-primary">Começar agora</a>
                </div>
            </section>
            <section class="section is-secondary is-left">
                <div class="section_content">
                    <h2 class="section_title">Teste e se surpreenda</h2>
                    <hr class="divider" />
                    <p class="section_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo sequi iusto eveniet asperiores inventore atque consequuntur minus illo voluptas dolore provident ad, cumque aliquid praesentium, aliquam obcaecati quae error aspernatur.</p>
                    <a href="#" class="button is-primary">Testar agora</a>
                </div>
                <div class="section_content">
                    <code class="code">
                        <div class="code_line"></div>
                        <div class="code_line">
                            <span class="code_comment">// Selecione o alvo</span>
                        </div>
                        <div class="code_line">
                            <span class="code_keyword">const</span> app = document.<span class="code_method">querySelector</span>(<span class="code_string">"#app"</span>);
                        </div>
                        <div class="code_line">
                            <span class="code_keyword">const</span> neon = <span class="code_keyword">new</span> Neon(app);
                        </div>
                        <div class="code_line">
                            neon.<span class="code_method">init</span>();
                        </div>
                        <div class="code_line">
                            neon.<span class="code_method">addParametrer</span>(<span class="code_string">"parametrer"</span>);
                        </div>
                        <div class="code_line">
                            neon.<span class="code_method">addValue</span>(<span class="code_string">"value"</span>);
                        </div>
                        <div class="code_line">
                            console.<span class="code_method">log</span>(neon.<span class="code_method">getConfig</span>());
                        </div>
                        <div class="code_line">
                            <span class="code_comment">// { target: {...} , parametrer: value }</span>
                        </div>
                        <div class="code_line"></div>
                    </code>
                </div>
            </section>
            <section class="section is-secondary is-right">
                <div class="section_content">
                    <h2 class="section_title">Resultados rápidos</h2>
                    <hr class="divider" />
                    <p class="section_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo sequi iusto eveniet asperiores inventore atque consequuntur minus illo voluptas dolore provident ad, cumque aliquid praesentium, aliquam obcaecati quae error aspernatur.</p>
                    <a href="#" class="button is-primary">Ver resultados</a>
                </div>
                <div class="section_content">
                    <figure class="section_figure">
                        <img src="assets/images/grafico.svg" alt="Gráficos">
                    </figure>
                </div>
            </section>
            <section class="section is-centered">
                <div class="section_content">
                    <form class="form" method="get">
                        <h2 class="section_title">Se inscreva agora</h2>
                        <hr class="divider" />
                        <div class="form_group">
                            <label for="email" class="form_label">E-mail</label>
                            <input type="email" name="email" id="email" autocomplete="off" class="form_input"/>
                        </div>

                        <button class="button is-primary">Inscrever-se</button>
                    </form>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer">
        <div class="footer_socials">
            <img src="assets/images/icons/fb-icon.svg" alt="facebook" class="footer_social">
            <img src="assets/images/icons/ig-icon.svg" alt="instagram" class="footer_social">
            <img src="assets/images/icons/wpp-icon.svg" alt="whatsapp" class="footer_social">
        </div>
        <div class="footer_copy">
            <p>Alguns direitos reservados.</p>
        </div>
    </footer>
    <script src="assets/js/typewriter.js"></script>
    <script src="assets/js/neon.js"></script>
</body>
</html>